*, html {
    font-family: "Lexend", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    padding: 0px;
    margin: 0px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#section-1 {
    background-image: url('assets/section-1-background.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-1-container {
    /* background-image: linear-gradient(0deg, #2b3748, #435670); */
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    color: white;
    padding: 20px;
    max-width: 1000px;
    width: 80%;
    max-height: 550px;
    height: 80%;
    border-radius: 35px;
    animation: fadeIn 1s ease-in;
}

#section-1-left {
    padding: 0px;
    margin: 0px;
    width: 50%;
    float: left;
    padding: 30px;
}

#section-1-right {
    padding: 0px;
    margin: 0px;
    width: 50%;
    height: 510px;
    float: right;
    background-image: url('assets/section-1-cover.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* border-radius: 0px 25px 25px 0px; */
    border-radius: 25px;
}

#profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid #00c3ff;
}

#section-1-left h1 {
    color: #00c3ff;
}

#section-1-left hr {
    color: #00c3ff;
    width: 100px;
    text-align: left;
    margin-left: 0px;
}

#section-1-left p {
    margin: 25px 0;
}

.socials-container {
    display: flex;
    gap: 12px
}

.socials-container img {
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.socials-container img:hover {
    box-shadow: 0px 0px 12px #008fdc;
}

#section-1-learn-more-btn {
    background-color: white;
    border: 0px;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 25px;
    cursor: pointer;
}

#section-1-learn-more-btn a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #008fdc;
}

#section-1-learn-more-btn:hover {
    box-shadow: 0px 0px 20px #008fdc;
}

#section-2 {
    background-image: url('assets/section-2-background.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#section-2-container {
    padding: 50px;
}

#section-2-container h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}

#skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.skill {
    background-color: rgba(3, 12, 23, 0.6);
    backdrop-filter: blur(3px);
    text-align: left;
    border-radius: 15px;
    padding: 12px;
    width: 450px;
    padding: 20px;
}

.skill-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-heading h2 {
    margin: 0px;
}

.skill-heading hr {
    color: #00c3ff;
    border: 1px #00c3ff solid;
    width: 100px;
    text-align: left;
    margin-left: 0px;
}

.skill-heading img {
    width: 100px;
    height: 100px;
    padding: 12px;
    border-radius: 12px;
    background-color: white;
}

.skill p {
    color: white;
}

#section-3 {
    background-image: linear-gradient(0deg, #2b3748, #435670);
    padding: 100px;
    color: white;
    display: flex;
    justify-content: center;
}

#section-3-container {
    display: flex;
    align-items: center;
}

#section-3-container hr {
    color: #00c3ff;
    width: 100px;
    text-align: left;
    margin-left: 0px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    width: 400px;
    border-radius: 6px;
    padding: 10px 16px;
    border: 0px;
    font-size: 16px;
    outline: none;
}

#contact-form input[type="text"]:focus, #contact-form input[type="email"]:focus, #contact-form textarea:focus {
    border: 4px solid #00c3ff;
}

#contact-form input[type="submit"] {
    background-color: white;
    border: 0px;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #008fdc;
    width: 100px;
    margin-left: auto;
}

#contact-form input[type="submit"]:hover {
    box-shadow: 0px 0px 20px #008fdc;
}
